*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: 'Anton', sans-serif;
font-family: 'Montserrat', sans-serif; */

html {
  scroll-behavior: smooth;
}
body{
  background: red;
}
/* ======= NAVIGATION ======= */
ul{
  text-align: center;
}
li{
  list-style-type: none;
  padding: 2rem;
}
a{
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
i{
  color: white;
  font-size: 1.5rem;
  margin-top: 15%;
  margin: 2rem;
}

p{
  font-family: 'Montserrat', sans-serif;
}
/* ======= TEXT STYLE ======= */
h2{
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* ======= LANDING WRAPPER  ======= */

.wrap{
  width: 100%;
  height: 100vh;
  background: red;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

/* ======= RIGHT SIDE / BOTTOM ======= */
.right{
  background: red;
}
.right{
  background: url(../img/subk_taust.jpg);
  background-color: red;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ======= LEFT SIDE / TOP ======= */
.left{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.left::after{
  content: " ";
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: -99px;
  left: 0;
  clip-path: polygon(100% 0, 0 0, 0 100%);
  background: red;
}
.logo{
  width: 65%;
}
/* ======= WORK ======= */
.work{
  width: 100%;
  height: auto;
  background: red;
  margin: 0 auto;
}
.work__box{
  padding-top: 7rem;
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(8, minmax(250px, 1fr));
  grid-gap: 15px;
  grid-template-areas:
  "sub"
  "kolmdee"
  "wiil"
  "pyramiid"
  "table"
  "flyer"
  "illustrat"
  "web"
}
.sub{
  grid-area: sub;
  background: url(../img/sub_v.jpg);
  background-color: red;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  transition: 1s;
  border: 17px solid white;
}
.kolmdee{
  grid-area: kolmdee;
  background: url(../img/kolm_v.jpg);
  background-color: red;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  transition: all 1s;
  border: 17px solid white;
}
.sub:hover,
.kolmdee:hover,
.wiil:hover,
.pyramiid:hover,
.round__table:hover,
.flyer:hover,
.illus:hover,
.web:hover{
  transform: scale(1.1) rotate(3deg);
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);

}
.wiil{
  grid-area: wiil;
  background: url(../img/wiil_v.jpg);
  background-color: red;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  transition: 1s;
  border: 17px solid white;
}
.pyramiid{
  grid-area: pyramiid;
  background: url(../img/pyramiid_v.jpg);
  background-color: red;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  transition: 1s;
  border: 17px solid white;
}
.round__table{
  grid-area: table;
  background: url(../img/table_v.jpg);
  background-color: red;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  transition: 1s;
  border: 17px solid white;
}
.flyer{
  grid-area: flyer;
  background: url(../img/flyer_v.jpg);
  background-color: red;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  transition: 1s;
  border: 17px solid white;
}
.illus{
  grid-area: illustrat;
  background: url(../img/illus_v.jpg);
  background-color: red;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  transition: 1s;
  border: 17px solid white;
}
.web{
  grid-area: web;
  background: url(../img/web_v.jpg);
  background-color: red;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  transition: 1s;
  border: 17px solid white;
}
/* ======= FOOTER / Contact ======= */

footer{
  width: 100%;
  height: 10vh;
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

/* ======= MEDIA QUERY ======= */

@media screen and (min-width: 600px) {
  .wrap{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  /* ======= LEFT SIDE / TOP ======= */
  .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .left::after{
    content: " ";
    width: 100px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 100%;
    clip-path: polygon(100% 100%, 0 0, 0 100%);
    background: red;
  }

.right{
  display: flex;
  justify-content: flex-end;
  text-align: right;
}
.social{
  display: flex;
  flex-direction: column;
}
}
@media screen and (min-width: 750px) {
.work__box{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(8, minmax(250px, 1fr));
  grid-gap: 15px;
  grid-template-areas:
  "sub kolmdee"
  "sub kolmdee"
  "wiil wiil"
  "table pyramiid"
  "table pyramiid"
  "flyer flyer"
  "illustrat web"
  "illustrat web"
}
}
@media screen and (min-width: 1000px) {
.work__box{
    grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, minmax(250px, 1fr));
  grid-gap: 15px;
  grid-template-areas:
  "sub       .        wiil"
  "sub       kolmdee  wiil"
  "table     kolmdee  flyer"
  "table     pyramiid flyer"
  "illustrat pyramiid web"
  "illustrat .        web"
}
}
